01/REST_Sample_01/.vs
01/REST_Sample_01/REST_Sample_01/bin
01/REST_Sample_01/REST_Sample_01/obj
01/REST_Sample_02/.vs
02/03 - Motorcycles/.vs
02/03 - Motorcycles/Solution.Validators/obj
02/03 - Motorcycles/Solution.Validators/bin
02/03 - Motorcycles/Solution.Services/obj
02/03 - Motorcycles/Solution.Services/bin
02/03 - Motorcycles/Solution.PdfGenerator/obj
02/03 - Motorcycles/Solution.PdfGenerator/bin/Debug/net9.0/.playwright/package/bin
02/03 - Motorcycles/Solution.PdfGenerator/bin
02/03 - Motorcycles/Solution.DesktopApp/obj
01/REST_Sample_02/REST_Sample_01/bin
01/REST_Sample_02/REST_Sample_01/obj
02/03 - Motorcycles/Solution.Core/bin
02/03 - Motorcycles/Solution.Core/obj
02/03 - Motorcycles/Solution.DataBase/bin
02/03 - Motorcycles/Solution.DataBase/obj
02/03 - Motorcycles/Solution.DesktopApp/bin
